
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <title>Warriors OC Generator</title>
  </head>
  <section id="siteContainer">

	  

			
<header>
    </header>
	  
	
	  <section id="indexPage" >
    <div id="banner">
    		<div class="small-12 large-12 large-centered columns">

          <h2>{{title}}</h2>
    </div>
	  </section>

     

       
  


</html>

