/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

.hidden {
  display: none; }

body {
  background-color: white; }


  #videoContainer {
    border: 5px solid red;
    border-radius: 15px;
    padding: 0;
    width: 560px;
    /* padding: 20px; */
  }

iframe {
  margin-left: 450px;
}


#banner h2, #banner p {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  color: rgb(236, 0, 0); }

#banner p {
  font-size: 40px;
  font-family: "Quicksand", sans-serif; }

#banner h2 {
  font-size: 110px;
  font-family: "Dancing Script", cursive; }

#banner {
  /*background-color: #acd373;*/
  padding-bottom: 200px;
  padding-top: 220px; }

h2 {
  color: rgb(236, 0, 0);
  text-align: center;
  font-size: 30px;
}

h1 {
  color: gray;
  text-align: center;
  font-size: 25px;
}

#flavorSection div{
  float: left;
  width: 480px;
  padding: 10px;
}

.flavorsFloat {
  float: left;
  background-color: blue;
}
p {
  font-size: 18px; 
  color: #353535;
  text-align: center;

}

#indexPage, #myWork {
  margin-bottom: 100px; }

/*header goes here*/
#headerCon {
  background-color: rgb(236, 0, 0);
  margin-bottom: 100px;
  padding-bottom: 40px;
  position: fixed; }

#mainNav {
  margin: 0;
  padding: 0;
  height: 75px;
  margin-top: 5px; }

#mainNav li {
  float: right;
  list-style-type: none;
  text-decoration: none;
  padding-right: 25px;
  padding-left: 15px;
  padding-top: 90px; }

ul {
  list-style-type: none; }

#mainNav li a {
  display: inline;
  text-align: center;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 26px;
  border-radius: 7px;
  text-decoration: none;
  color: white;
  background-color: #353535;
  font-family: "Dancing Script", cursive;
  -webkit-transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out; }

#mainNav li a:hover, #submit:hover {
  background-color: #7a7a7a; }

#logo {
  margin-top: -100px;
  max-width: 200px;
  margin-left: 100px; }

#logo:hover {
  animation-name: logoAnimate;
  animation-duration: .6s; }

@keyframes logoAnimate {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.1); } }
#banner {
  background-color: #353535;
  border-radius: 10px;

}

.flavimg {
margin-left: 20px;
}

#shareacoke {
  margin-right: 500px;
}

.divTitle {
  padding: 20px;
  color: rgb(236, 0, 0);
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  text-align: center; }

#reelContainer {
  background-color: rgb(236, 0, 0);
  margin-top: 10px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 50px;
  margin-bottom: 50px; }

.flavorsTitle {
  color: #a5b1ff;
  font-family: "Quicksand", sans-serif; }

.caseTitle {
  color: #a5b1ff;
  font-family: "Quicksand", sans-serif;
  margin-top: 100px; }

.caseSubTitle {
  padding: 20px;
  color: #c0c8ff;
  font-family: "Quicksand", sans-serif;
  text-align: center; }

.iconText {
  color: white; }


#footerCon {
  background-color: rgb(236, 0, 0); }

#footerText {
  float: right;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 25px; }


a {
  text-decoration: none; }


.menu a {
  -webkit-transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out; }

.menu a:hover {
  opacity: .5; }

/* .movie-title {
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #c0c8ff;
  font-family: "Dancing Script", cursive; }

.movie-details {
  padding-top: 12px;
  margin-bottom: 40px;
  margin: 10px;
  margin-left: 120px;
  margin-right: 120px; }

.movie-details p {
  text-align: center;
  margin: 0 auto;
  color: #a5b1ff;
  font-family: "Quicksand", sans-serif;
  font-size: 25px; } */

/* .show-scroller {
  display: inline-block !important; } */

/* .lightbox {
  display: none;
  position: fixed;
  top: 0;
  width: 80%;
  height: 100%;
  text-align: center;
  padding-bottom: 40px;
  background-color: rgba(0, 0, 0, 0.65); }

.closeButton {
  position: absolute;
  right: 12px;
  top: 12px;
  font-family: arial, helvetica, sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: white;
  cursor: pointer; }

.show-lightbox {
  display: inline-block !important; }

.close-lightbox {
  display: none; } */
/* 
video {
  width: 65%; }

.closeButton span {
  display: none; }

.show-movie {
  max-height: 1200px; } */


/*# sourceMappingURL=main.css.map */
.hidden-movies {
  display: none;
  position: fixed;
  top: 0;
  width: 80%;
  height: 100%;
  text-align: center;
  padding-bottom: 40px;
  background-color: rgba(0, 0, 0, 0.65); }

.hidden-movies2 {
  display: none;
  position: fixed;
  top: 0;
  width: 37%;
  height: 100%;
  text-align: center;
  padding-bottom: 40px;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: 280px;
  background-color: rgba(0, 0, 0, 0.65); }

.movie-details2 p {
  text-align: center;
  margin: 0 auto;
  color: #a5b1ff;
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  width: 700px;
  padding-right: 90px; }

.close-lightbox {
  position: absolute;
  right: 12px;
  top: 12px;
  font-family: arial, helvetica, sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: white;
  cursor: pointer; }

.show-movie {
  max-height: 1000px;
  display: block; }

@media only screen and (min-width: 1px) and (max-width: 720px) {
  #headerCon {
    position: absolute;
    margin-top: 20px; }

  #logo {
    display: none; }

  #logoMobile {
    display: block;
    text-align: center;
    margin: 0 auto; }

  #banner {
    padding-bottom: 360px; }

  #banner h2 {
    visibility: hidden; }

  #banner p {
    visibility: hidden; }

  #mainNav {
    padding-bottom: 0px; }

  #mainNav li {
    margin: 0 auto;
    float: none;
    margin-left: 15px; }

  #mainNav li a {
    width: 400px;
    margin-left: 110px;
    margin-bottom: 30px;
    padding: 23px;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 43px; }

  .menu {
    padding-top: 450px; }

  .menu img {
    width: 500px; }

  #submit {
    float: right;
    color: #c0c8ff;
    font-family: "Dancing Script", cursive;
    background-color: #6e717a;
    font-size: 46px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
    margin-top: 0; }

  .movie-title {
    font-size: 70px;
    margin-top: 40px; }

  .movie-details {
    padding-top: 12px;
    margin-bottom: 40px;
    padding-right: 50px;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px; }

  .movie-details p {
    text-align: center;
    margin: 0 auto;
    color: #a5b1ff;
    font-family: "Quicksand", sans-serif;
    font-size: 25px; }

  .show-scroller {
    display: inline-block !important; }

  .lightbox {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.65); }

  .closeButton {
    position: absolute;
    right: 12px;
    top: 12px;
    font-family: arial, helvetica, sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: white;
    cursor: pointer; }

  .hidden-movies video {
    width: 80%; } }

/*# sourceMappingURL=main.css.map */

